.button {
  @include oswald(14px, 18px);
  display: block;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 10px;
  text-align: center;
  color: $white;
  text-transform: uppercase;
  background-color: $green;

  @media (min-width: $tablet-width) {
    width: 32%;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 20px;
    line-height: 20px;

    .form-main & {
      width: 100%;
    }
  }

  &:hover {
    background-color: $green-hover;
  }

  &:active {
    color: rgba($white, 0.3);
    background-color: $green-hover;
  }

  &:visited {
    color: $white;
  }
  // grey button
  &--link-show {
    width: 100%;
    color: $dark-grey;
    background-color: $basic-grey;

    &:hover {
      color: $dark-grey;
      background-color: $grey-button-hover;
    }

    &:active {
      color: rgba($dark-grey, 0.3);
      background-color: $grey-button-hover;
    }

    &:visited {
      color: $dark-grey;
      background-color: $basic-grey;
    }
  }
}
