.button {
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  background-color: $green;
  color: $white;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
}
