.button {
  @include oswald(14px, 18px);
  display: block;
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: $green;
  color: $white;
  text-transform: uppercase;
  padding-top: 12px;

  &:hover {
    background-color: $green-hover;
  }

  &:active {
    background-color: $green-hover;
    color: rgba($white, 0.3);
  }

  &:visited {
    color: $white;
  }

  &--link-show {
    background-color: $basic-grey;
    color: $dark-grey;

    &:hover {
      background-color: $grey-button-hover;
      color: $dark-grey;
    }

    &:active {
      border-color: $grey-button-hover;
      color: rgba($dark-grey, 0.3);
    }

    &:visited {
      background-color: $basic-grey;
      color: $dark-grey;
    }
  }
}
