.cards {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 65px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 79px;
    row-gap: 66px;
  }
}

.cards__item {
  border-top: 1px solid $grey;

  @media (min-width: $tablet-width) {
    border-top: none;
    background-image: linear-gradient(to bottom, $white, white 15%, $basic-grey 15%);
  }

  &:not(:last-child) {
    margin-bottom: 26px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  &--small {
    @media (min-width: $tablet-width) {
      padding-top: 27px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 25px;
    }

    .card__picture {
      margin-bottom: 22px;

      @media (min-width: $tablet-width) {
        margin-bottom: 30px;
      }

      @media (min-width: $desktop-width) {
        margin-bottom: 35px;
      }

      &--small {
        margin-bottom: 14px;

        @media (min-width: $tablet-width) {
          margin-bottom: 30px;
        }

        @media (min-width: $desktop-width) {
          margin-bottom: 35px;
        }
      }
    }
  }

  &--all {
    @media (min-width: $tablet-width) {
      margin-top: auto;
      height: 85%;
      padding-top: 84px;
      background-image: none;
      background-color: $white;
      border: 1px solid $special-grey;
    }

    @media (min-width: $desktop-width) {
      padding-top: 79px;
    }
  }
}

.cards__title {
  grid-column-start: 2;
  margin-top: 0;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 12px;
  }
}

.cards__table {
  margin-bottom: 0;

  tr {
    display: flex;
    justify-content: space-between;

    @media (min-width: $tablet-width) {
      padding-top: 8px;
      padding-bottom: 8px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 2px;
      padding-right: 2px;
    }
  }

  @media (min-width: $tablet-width) {
    align-self: stretch;
    margin-bottom: 31px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 33px;
  }
}

.cards__submit {
  grid-column: 1/-1;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}
