.card__title {
  @include oswald(16px, 20px);
  font-weight: normal;
  text-transform: uppercase;
  color: $special-dark-grey;

  &--all {
    color: $special-black;
  }
}

.card__table,
.card__text {
  font-size: 12px;
  line-height: 16px;
  color: $dark-grey;
}
