.cards {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 65px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.cards__item {
  border-top: 1px solid $grey;

  @media (min-width: $tablet-width) {
    border-top: none;
    background-image: linear-gradient(to bottom, $white, white 15%, $basic-grey 15%);
  }

  &:not(:last-child) {
    margin-bottom: 25px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  &--small {
    @media (min-width: $tablet-width) {
      padding-top: 28px;
    }
  }

  &--all {
    @media (min-width: $tablet-width) {
      margin-top: auto;
      height: 84%;
      padding-top: 77px;
      background-image: none;
      background-color: $white;
      border: 1px solid $special-grey;
    }
  }
}

.cards__title {
  grid-column-start: 2;
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
  }
}

.cards__table {
  margin-bottom: 13px;

  & tr {
    display: flex;
    justify-content: space-between;

    @media (min-width: $tablet-width) {
      padding-top: 8px;
      padding-bottom: 8px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 2px;
      padding-right: 2px;
    }
  }

  @media (min-width: $tablet-width) {
    align-self: stretch;
    margin-bottom: 31px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 33px;
  }
}

.cards__submit {
  grid-column: 1/-1;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.cards__img {
  grid-row: 1/3;
  align-self: center;
  justify-self: center;

  @media (min-width: $tablet-width) {
    order: -1;
  }
}
