.catalog-main {
  padding-top: 29px;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 62px;
  }
}

.catalog-main__title {
  width: 100%;
  margin-bottom: 41px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 105px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
    max-width: 1440px;
    margin: 0 auto 100px auto;
  }
}

.catalog-main__catalog {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
    margin-bottom: 40px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}

.catalog-main__extra {
  @include section(36px);
  padding-top: 6px;

  @media (min-width: $tablet-width) {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 76px;
    position: relative;
    padding-top: 5px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 86px;
    padding-left: 0;
    padding-right: 0;
  }
}
