.catalog-main {
  padding-top: 27px;
}

.catalog-main__title {
  margin-bottom: 41px;
  padding-left: 20px;
  padding-right: 20px;
}

.catalog-main__catalog {
  @include section(32px);
}

.catalog-main__extra {
  @include section(35px);
  padding-top: 8px;
}
