.choice__input {
  appearance: none;
}

.choice__label {
  position: relative;
  display: flex;
  align-items: center;
}

.choice__input--radio {
  + .choice__label {
    &::before {
      content: "";
      margin-right: 15px;
      width: 30px;
      height: 30px;
      border: 1px solid $special-grey;
      border-radius: 50%;
    }
  }

  &:hover {
    + .choice__label {
      &::before {
        border-color: $grey-hover;
      }
    }
  }

  &:checked {
    + .choice__label {
      &::after {
        content: "";
        position: absolute;
        left: 7px;
        width: 14px;
        height: 14px;
        background-color: $green;
        border-radius: 50%;
      }
    }
  }
}

.choice__input--radio:disabled + .choice__label,
.choice__input--radio:disabled + .choice__label::before,
.choice__input--radio:checked:disabled + .choice__label::after {
  opacity: 0.3;
}

.choice__input--checkbox {
  + .choice__label {
    &::before {
      content: "";
      margin-right: 15px;
      width: 30px;
      height: 30px;
      border: 1px solid $special-grey;
    }
  }

  &:checked {
    + .choice__label {
      &::after {
        content: "";
        position: absolute;
        left: 7px;
        width: 18px;
        height: 15px;
        background-image: url("../img/icon/checkbox.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  &:hover {
    + .choice__label {
      &::before {
        border-color: $grey-hover;
      }
    }
  }
}

.choice__input--checkbox:disabled + .choice__label,
.choice__input--checkbox:disabled + .choice__label::before,
.choice__input--checkbox:checked:disabled + .choice__label::after {
  opacity: 0.3;
}
