.contacts {
  &--grey {
    background-color: $basic-grey;
  }
}

.contacts__wrapper {
  @media (min-width: $desktop-width) {
    width: 100%;
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.contacts__content {
  @include section(25px);
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    padding-left: 71px;
    padding-right: 71px;
    padding-top: 63px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    margin-bottom: 0;
    padding-top: 61px;
    padding-bottom: 60px;
    padding-left: 76px;
    padding-right: 89px;
    width: 40%;
    background-color: $white;
    top: 95px;
    margin-left: 0;
    margin-right: 0;
  }
}

.contacts__map {
  height: 362px;
  width: 100%;
  background-image: url("../img/map/map.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map/map@2x.png");
  }

  @media (min-width: $tablet-width) {
    height: 400px;
    background-image: url("../img/map/map-tablet.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map/map-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/map/map-desktop.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map/map-desktop@2x.png");
    }
  }

  iframe {
    width: 100%;

    @media (min-width: $tablet-width) {
      height: 100%;
    }

    @media (min-width: $desktop-width) {
      height: 400px;
      display: block;
    }
  }
}
