.contact {
  display: flex;
  justify-content: space-between;
}

.contact__invite {
  margin-top: 0;
  margin-bottom: 0;

  @include oswald(16px, 18px);
  text-transform: uppercase;


  @media (min-width: $tablet-width) {
    width: 30%;
    padding-top: 5px;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 38%;
  }
}

.contact__address {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 20px;
  text-align: start;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    padding-top: 5px;
  }

  span {
    display: block;

    @media (min-width: $tablet-width) {
      margin-top: auto;
    }
  }

  @media (min-width: $desktop-width) {
    width: 40%;
    text-align: start;
  }
}
