.contact {
  display: flex;
  justify-content: space-between;
}

.contact__invite {
  @include oswald(16px, 18px);
  text-transform: uppercase;
  margin-top: 0;
}

.contact__address {
  line-height: 20px;
  color: $dark-grey;
  margin-top: 0;
}
