.example {
  background-color: $background-grey;

  @media (min-width: $tablet-width) {
    background-color: $white;
    border-top: 1px solid $light-grey;
  }
}

.example__title {
  margin-bottom: 33px;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }
}

.example__text {
  color: $dark-grey;
  margin-bottom: 25px;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }
}

.example__list {
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    width: 50%;
  }
}

.example__total {
  @include oswald(14px, 20px);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 42px;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    width: 25%;
    text-align: end;
    padding-top: 12px;
  }
}

.example__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.example__block {
  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 215px;
  }
}

.example__slider {
  @media (min-width: $tablet-width) {
    padding-bottom: 73px;
    position: relative;
      }
}
