.form__section {
  margin-bottom: 9px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  border: none;
}

.form__list {
  margin: 0;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  list-style: none;

  &--border {
    padding-bottom: 2px;
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
  }
}

.form__item {
  display: flex;
  align-items: center;
  margin-bottom: 13px;

  &.choice {
    margin-bottom: 0;
  }
}

.form__label,
.form__input {
  @include oswald($size:16px, $line-height:18px);
  text-transform: uppercase;
  color: $dark-grey;
}

.form__label {
  margin-right: 18px;
}

.form__input {
  flex-grow: 1;
  margin: 0;
  padding-left: 15px;
  min-height: 46px;
  border-color: $special-light-grey;

  &:hover {
    border-color: $special-grey;
  }

  &:focus {
    border-color: $dark-grey;
  }

  &--error {
    border-color: $error;
  }

  &--choice {
    flex-grow: 0;
  }

  &--textarea {
    padding-top: 9px;
    padding-left: 15px;
    width: 100%;
    min-height: 150px;
  }
}

.form__legend {
  position: relative;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 18px;
  background-color: $white;

  @include oswald (24px, 26px);

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 50%;
    width: 100vh;
    border-bottom: 2px solid $green;
  }
}

.form__comment {
  margin: 0;
  padding-top: 21px;
  width: 100%;
  line-height: 16px;
  text-align: center;
}

.form__wrapper {
  padding-left: 20px;
  padding-right: 20px;
}
