.form {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.form__section {
  margin-bottom: 19px;
  margin-left: 0;
  margin-right: 0;
  padding-top: 3px;
  padding-left: 0;
  padding-bottom: 0;
  padding-right: 0;
  border: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;

    &:nth-child(4) {
      margin-bottom: 56px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }

  &:last-of-type {
    margin-bottom: 29px;

    @media (min-width: $tablet-width) {
      margin-bottom: 54px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 62px;
    }
  }

  &:first-child {
    margin-bottom: 23px;

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  &--border {
    padding-top: 22px;
    padding-bottom: 19px;
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
    margin-bottom: 21px;

    @media (min-width: $tablet-width) {
      padding-left: 70px;
      padding-right: 70px;
      border: none;
      padding-top: 53px;
      margin-bottom: 35px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 0;
      padding-top: 3px;
      padding-right: 110px;
      margin-bottom: 28px;
    }
  }
  //grid desktop
  @media (min-width: $desktop-width) {
    &:nth-child(n+3) {
      grid-column: 1/-1;
    }
  }
}

.form__list {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  list-style: none;

  @media (min-width: $tablet-width) {
    padding-left: 70px;
    padding-right: 70px;

    .form__section--border & {
      padding: 20px 27px;
      border: 1px solid $grey;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;

    .form__section:first-child & {
      padding-right: 0;
    }

    &--columns {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 80px;
      padding-right: 110px;
    }
  }
}

.form__item {
  display: flex;
  align-items: center;
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 19px;

    .form__section--border & {
      margin-bottom: 13px;
    }
  }

  @media (min-width: $desktop-width) {
    .form__list--columns & {
      margin-bottom: 0;
    }
  }

  &--icon {
    position: relative;
  }

  .checkbox & {
    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }
}

.form__label,
.form__input {
  @include oswald($size:16px, $line-height:18px);
  text-transform: uppercase;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__label {
  margin-right: 12px;

  @media (min-width: $tablet-width) {
    margin-right: 19px;
  }
}

.form__input {
  flex-grow: 1;
  margin: 0;
  padding-left: 17px;
  min-height: 46px;
  border-color: $special-light-grey;
  border-style: solid;

  @media (min-width: $tablet-width) {
    padding-left: 16px;
    min-height: 52px;
  }

  &:hover {
    border-color: $special-grey;
  }

  &:focus {
    border-color: $dark-grey;

    & + .form__icon line,
    & + .form__icon path {
      stroke: $green;
    }
  }

  &--error {
    border-color: $error;

    & + .form__icon line,
    & + .form__icon path {
      stroke: $error;
    }
  }

  &--choice {
    flex-grow: 0;
    padding-left: 0;
    min-height: min-content;
    border-style: none;
  }

  &--textarea {
    padding-top: 11px;
    padding-left: 15px;
    width: 100%;
    min-height: 150px;

    @media (min-width: $tablet-width) {
      min-height: 174px;
    }
  }

  &::-moz-placeholder {
    opacity: 1;
  }
}


//icon email and phone
.form__icon {
  position: absolute;
  right: 13px;
}

.form__legend {
  position: relative;
  margin-bottom: 32px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 4px;
  background-color: $white;

  @include oswald (24px, 26px);

  @media (min-width: $tablet-width) {
    padding-left: 70px;
    padding-top: 15px;
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 36px;

    .form__section:last-of-type & {
      padding-top: 0;
    }

    & br {
      display: none;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 70%;
      width: 30px;
      border-bottom: 2px solid $green;

      @media (min-width: $desktop-width) {
        width: 70px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    margin-bottom: 75px;
  }

  .form__section:last-of-type & {
    margin-bottom: 15px;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 45%;
    width: 100vw;
    border-top: 2px solid $green;

    @media (min-width: $tablet-width) {
      top: 80%;
    }
  }
}

.form__comment {
  margin: 0;
  padding-top: 18px;
  width: 100%;
  line-height: 16px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 17px;
    text-align: start;
  }
}

.form__wrapper {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 70px;
    padding-right: 70px;

    &--columns {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 60px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;

    &--columns {
      grid-column: 1/-1;
      column-gap: 80px;
    }
  }
}
