.form-main__program {
  margin-bottom: 32px;
  padding-top: 29px;

  @media (min-width: $tablet-width) {
    padding-top: 47px;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 65px;
    margin-bottom: 81px;
  }
}

.form-main__wrapper {
  @include section(36px);

  @media (min-width: $tablet-width) {
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
  }
}
