.info-data {
  list-style-type: none;
}

.info-data__item {
  position: relative;
  color: $dark-grey;

  &:not(:last-child) {
    margin-bottom: 26px;
  }

  &--eco {
    &::before {
      @include pseudo-element(60px, 60px);
      background-image: url("../img/icon/eco-icon.svg");
      left: -80px;
      top: -3px;
    }
  }

  &--form {
    &::before {
      @include pseudo-element(60px, 60px);
      background-image: url("../img/icon/form-icon.svg");
      left: -80px;
      bottom: -3px;
    }
  }

  &--use {
    &::before {
      @include pseudo-element(60px, 60px);
      background-image: url("../img/icon/use-icon.svg");
      left: -80px;
      bottom: -3px;
    }
  }

  &--time {
    &::before {
      @include pseudo-element(60px, 60px);
      background-image: url("../img/icon/time-icon.svg");
      left: -80px;
      bottom: -3px;
    }
  }
}
