.logo-block {
  display: flex;
  align-items: center;
  height: 55px;

  @media (min-width: $tablet-width) {
    padding-left: 16px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo-block__title {
  flex-grow: 1;
  margin-right: 38px;
  text-align: center;
}

.logo-block__icon {
  @media (min-width: $tablet-width) {
    margin-right: 19px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 30px;
  }
}
