.logo-block {
  height: 30px;
  display: flex;
  //justify-content: space-between;
  align-items: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo-block__title {
  flex-grow: 1;
  text-align: center;
  margin-right: 38px;
}
