.page-main__promo {
  margin-bottom: 22px;
}

.page-main__products {
  @include section(20px);
}

.page-main__info {
  @include section(42px);
  padding-top: 14px;
}

.page-main__example {
  padding-top: 27px;

  @include section;
}
