.page-header {
  padding-top: 8px;
  border-bottom: 1px solid $grey;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 29px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 59px;
    padding-left: 110px;
    padding-right: 110px;
    width: 1440px;
    margin: 0 auto;
  }
}

.page-header__logo {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-right: 0;
  }
}
