.page-footer {
  @include section(0);
  padding-top: 39px;
  width: 100%;
  text-align: center;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 58px 30px 61px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 57px 110px;
  }
}

.page-footer__logo {
  display: block;
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  img {
    width: 128px;
    height: 24px;
  }
}

.page-footer__social {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-left: 0;
  height: 63px;
  list-style: none;
  border-bottom: 1px solid $grey;
  border-top: 1px solid $grey;


  @media (min-width: $tablet-width) {
    border: none;
    padding-top: 0;
  }
}
