.page-main__promo {
  margin-bottom: 22px;
}

.page-main__products {
  @include section(20px);
}

.page-main__info {
  @include section(46px);
  padding-top: 7px;
}

.page-main__example {
  @include section;
  padding-top: 27px;
  padding-bottom: 34px;
}
