.page-footer {
  width: 100%;
  background-color: $basic-grey;
}

.page-footer__logo {
  display: block;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  img {
    width: 128px;
    height: 24px;
  }
}

.page-footer__social {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 23px;
  padding-left: 0;
  list-style: none;
  border-bottom: 1px solid $grey;
  border-top: 1px solid $grey;


  @media (min-width: $tablet-width) {
    border: none;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.page-footer__wrapper {
  padding-top: 39px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 55px 30px 61px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 57px 110px;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.page-footer__copyright {
  padding-top: 18px;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}
