.product {
  position: relative;
  padding: 8px 33px 22px 20px;
  margin-bottom: 21px;
  background-color: $basic-grey;

  &--slim::before {
    @include pseudo-element(50px, 53px);
    top: 21px;
    left: 22px;
    background-image: url("../img/icon/slim-icon.png");
    background-repeat: no-repeat;
  }

  &--pro::before {
    @include pseudo-element(67px, 50px);
    top: 24px;
    left: 14px;
    background-image: url("../img/icon/pro-icon.png");
    background-repeat: no-repeat;
  }
}

.product__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: normal;
  padding-left: 72px;
  margin-bottom: 29px;
}

.product__text {
  @include arial;
  margin-bottom: 23px;
}

.product__link {
  display: block;
  position: relative;
  width: 100%;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  border-top: 1px solid $grey;
  padding-top: 15px;

  &::after {
    @include pseudo-element(24px, 12px);
    top: 18px;
    left: 99px;
    background-image: url("../img/icon/arrow-icon.svg");
  }

  &:active {
    opacity: 0.3;
    color: $black;
  }
}
