.product {
  position: relative;
  background-color: $basic-grey;

  &::before {
    @include pseudo-element(50px, 50px);
    top: 24px;
    left: 22px;
    border-radius: 50%;
    background-color: $green;

    @media (min-width: $tablet-width) {
      width: 200px;
      height: 200px;
      top: 90px;
      left: auto;
      right: 62px;
    }

    @media (min-width: $desktop-width) {
      width: 100px;
      height: 100px;
      top: 43px;
      left: 52px;
    }
  }

  &--slim {
    &::after {
      @include pseudo-element(36px, 50px);
      top: 21px;
      left: 29px;
      background-image: url("../img/icon/slim-icon.svg");
      background-repeat: no-repeat;

      @media (min-width: $tablet-width) {
        width: 140px;
        height: 192px;
        background-size: contain;
        top: 84px;
        left: auto;
        right: 93px;
      }

      @media (min-width: $desktop-width) {
        width: 70px;
        height: 97px;
        top: 40px;
        left: 66px;
      }
    }
  }

  &--pro {
    &::after {
      @include pseudo-element(67px, 28px);
      top: 35px;
      left: 14px;
      background-image: url("../img/icon/pro-icon.svg");
      background-repeat: no-repeat;

      @media (min-width: $tablet-width) {
        width: 268px;
        height: 112px;
        background-size: contain;
        top: 135px;
        left: auto;
        right: 30px;
      }

      @media (min-width: $desktop-width) {
        width: 134px;
        height: 56px;
        top: 67px;
        left: 35px;
      }
    }
  }
}


.product__title {
  margin-bottom: 29px;
  margin-top: 0;
  padding-left: 71px;

  @include oswald(24px, 37px);
  text-transform: uppercase;
  font-weight: normal;


  @media (min-width: $tablet-width) {
    margin-bottom: 26px;
    padding-left: 0;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 73px;
    padding-left: 24px;
    text-align: center;
  }

  .product:nth-child(2) & {
    @media (min-width: $desktop-width) {
      padding-left: 60px;
    }
  }
}

.product__text {
  margin-top: 0;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 26px;
  }
}

.product__link {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;

  @include oswald (16px, 16px);
  text-transform: uppercase;
  color: $black;
  border-top: 1px solid $grey;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 57px;
    font-size: 20px;
    line-height: 30px;
    border: none;
  }

  &::after {
    @include pseudo-element(24px, 12px);
    position: static;
    display: block;
    margin-left: 15px;
    background-image: url("../img/icon/arrow-icon.svg");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      margin-left: 25px;
    }
  }

  &:hover::after {
    width: 32px;
    background-size: cover;
  }

  &:active {
    color: $black;
    opacity: 0.3;
  }
}
