.promo__background  {
   height: 302px;
  background: linear-gradient(to top, rgba($green,0.85), rgba($green,0.85)),
   url(../img/promo/promo-background.jpg);
   background-repeat: no-repeat;
   background-position: center;
 }
