.promo {
  position: relative;

  @media (min-width: $desktop-width) {
    position: static;
  }
}

.promo__background {
  height: 302px;
  width: 100%;
  position: absolute;
  background: linear-gradient(to top, rgba($green, 0.85), rgba($green, 0.85)),
    url("../img/promo/promo-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    position: absolute;
    height: 696px;
    width: 50%;
    top: 0;
    right: 0;
    background-size: 100%, 50% 100%;
    background-position: right;
  }
}

.promo__wrapper {
  margin: 0 auto;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-top: 35px;
    padding-left: 120px;
    align-items: start;
  }

  @media (min-width: $desktop-width) {
    padding-left: 192px;
    padding-right: 350px;
    padding-top: 83px;
  }
}

.promo__title {
  margin-top: 0;
  margin-bottom: 27px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 61%;
    margin-bottom: 41px;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    width: 40%;
  }
}

.promo__intro {
  @include oswald(14px, 14px);
  color: $white;
  text-transform: uppercase;
  margin-bottom: 29px;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: $black;
    margin-bottom: 53px;
  }
}

.promo__img {
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    position: absolute;
    margin-bottom: 0;
    width: 709px;
    height: 609px;
    z-index: -1;
    top: 83%;
    right: 1%;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
    top: 10%;
    right: 22%;
  }
}
