.promo {
  position: relative;

  @media (min-width: $desktop-width) {
    position: static;
  }
}

.promo__background {
  position: absolute;
  z-index: -1;
  height: 302px;
  width: 100%;
  background-image: linear-gradient(to top, rgba($green, 0.85), rgba($green, 0.85)),
    url("../img/promo/promo-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(to top, rgba($green, 0.85), rgba($green, 0.85)),
      url("../img/promo/promo-background@2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    height: 696px;
    width: 50%;
    background-image: linear-gradient(to top, rgba($green, 0.85), rgba($green, 0.85)),
      url("../img/promo/promo-background-desktop.jpg");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(to top, rgba($green, 0.85), rgba($green, 0.85)),
        url("../img/promo/promo-background-desktop@2x.jpg");
    }
  }
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-top: 27px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    align-items: start;
    padding-top: 33px;
    padding-left: 112px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding-left: 190px;
    padding-top: 87px;
  }
}

.promo__title {
  margin-top: 0;
  margin-bottom: 27px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 41px;
    padding-left: 5px;
    width: 66%;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    width: 419px;
    padding-left: 0;
  }
}

.promo__intro {
  margin-bottom: 29px;
  margin-top: 0;

  @include oswald(14px, 14px);
  color: $white;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;
    padding-left: 5px;
    font-size: 20px;
    line-height: 20px;
    color: $black;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    margin-bottom: 53px;
  }
}

.promo__img {
  width: 280px;
  height: 270px;

  @media (min-width: $tablet-width) {
    position: absolute;
    z-index: -1;
    top: 75%;
    left: 0;
    margin-bottom: 0;
    width: 100%;
    height: 609px;
  }

  @media (min-width: $desktop-width) {
    top: 140px;
    width: 552px;
    height: 499px;
    left: 39%;
  }
}
