.promotion {
  position: relative;
  height: 289px;
  background-image: url("../img/promo/promo-catalog-background.jpg");
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    width: 78px;
    height: 80px;
    background-image: url("../img/icon/present.png");
    background-repeat: no-repeat;
    top: 50px;
    left: 80px;
  }
}

.promotion___text {
  line-height: 20px;
  color: $white;
  position: absolute;
  bottom: 30px;
  left: 50px;
  text-align: center;
  width: 150px;
}
