.slider {
  @media (min-width: $desktop-width) {
    padding-bottom: 70px;
  }

  &--medium {
    @media (min-width: $desktop-width) {
      position: relative;
      z-index: 2;

      &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100vw;
        z-index: -1;
        left: 55%;
        background-image: linear-gradient(to bottom, $white, $white 27%, $background-grey 27%);
      }
    }
  }
}

.slider__content {
  margin: 0 auto 23px;
  height: 240px;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
    height: 521px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.slider__img {
  display: none;

  &--display {
    display: block;
    width: 311px;
    height: 232px;
    margin: 0 auto;
    object-fit: cover;

    @media (min-width: $tablet-width) {
      width: 100%;
      height: 600px;
      object-fit: contain;
    }

    @media (min-width: $desktop-width) {
      height: 662px;
      padding-left: 27px;
      padding-top: 8px;
    }
  }

  &--before {
    margin-bottom: 30px;

    @media (min-width: $tablet-width) {
      height: 529px;
      padding-top: 12px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 10px;
    }
  }

  &--after {
    object-fit: contain;

    @media (min-width: $tablet-width) {
      height: 530px;
      padding-top: 10px;
      padding-left: 48px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 65px;
    }
  }
}

.slider__control {
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    padding-left: 86px;
    align-items: center;
    padding-right: 86px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding-left: 100px;
    padding-right: 40px;
    width: 100%;
  }
}

.slider__button {
  @include oswald(16px, 20px);
  text-transform: uppercase;
  border: none;
  border-bottom: 1px dotted rgba($black, 0.24);

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    background-color: inherit;
  }

  &--before {
    margin-right: 14px;

    @media (min-width: $desktop-width) {
      margin-right: 20px;
    }
  }

  &--after {
    padding: 0;
  }

  &:hover {
    border-bottom: none;
  }

  &:active {
    border-bottom: 1px solid rgba($black, 0.4);
  }
}

.slider__range {
  margin-right: 14px;
  width: 30%;
  height: 100%;
  appearance: none;
  background: transparent;


  @media (min-width: $tablet-width) {
    width: 75%;
  }

  @media (min-width: $desktop-width) {
    margin-right: 20px;
    width: 85%;
  }

  &::-webkit-slider-runnable-track {
    @include range;

    @media (min-width: $tablet-width) {
      background-color: $special-grey;
    }
  }

  &::-moz-range-track {
    @include range;
    box-sizing: border-box;

    @media (min-width: $tablet-width) {
      background-color: $special-grey;
    }
  }

  &::-webkit-slider-thumb {
    @include thumb;

    @media (min-width: $tablet-width) {
      margin-top: -15px;
    }
  }

  &::-moz-range-thumb {
    @include thumb;
    box-sizing: border-box;

    @media (min-width: $tablet-width) {
      margin-top: -15px;
    }
  }
}
