.social {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  @media (min-width: $tablet-width) {
    padding-left: 25px;
    padding-right: 5px;
  }
}

.social__item {
  @media (min-width: $tablet-width) {
    width: 30px;
  }

  &:not(:last-child) {
    margin-right: 39px;

    @media (min-width: $tablet-width) {
      margin-right: 20px;
    }
  }
}

.social__link {
  display: block;
  fill: $special-grey-link;

  &:hover {
    fill: $green;
  }

  &:active {
    fill: rgba($green, 0.3);
  }

  &--vkontakte {
    .social__icon {
      width: 23px;
      height: 16px;

      @media (min-width: $tablet-width) {
        width: 30px;
        height: 22px;
      }
    }
  }

  &--instagram {
    .social__icon {
      width: 16px;
      height: 16px;

      @media (min-width: $tablet-width) {
        width: 23px;
        height: 23px;
      }
    }
  }

  &--facebook {
    .social__icon {
      width: 22px;
      height: 22px;
      fill: none;
      stroke: $special-grey-link;

      &:hover {
        fill: none;
        stroke: $green;
      }

      &:active {
        fill: none;
        stroke: rgba($green, 0.3);
      }

      @media (min-width: $tablet-width) {
        width: 28px;
        height: 33px;
      }
    }
  }
}
