.title {
  @include oswald(36px, 40px);
  font-weight: normal;
  margin-top: 0;

  &--attention {
    line-height: 36px;
    color: $white;
  }

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: $black;
  }

  .form-main & {
    line-height: 36px;
  }

  .catalog-main & {
    line-height: 36px;
  }
}
