.title {
  margin-top: 0;

  @include oswald(36px, 40px);
  font-weight: normal;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: $black;
  }

  &--attention {
    line-height: 36px;
    color: $white;
  }

  &--leading {
    line-height: 36px;
  }
}
