//colours
//basic
$black: #000000;
$green: #68b738;
$white: #ffffff;

//grey
$light-grey: #e6e6e6;
$basic-grey: #f2f2f2;
$grey: #d9d9d9;
$dark-grey: #444444;
$background-grey: #eaeaea;
$special-grey: #cdcdcd;
$special-light-grey: #e7e7e7;
$grey-hover: #bababa;
$special-dark-grey: #222222;
$grey-button-hover: #ebebeb;

//others
$green-hover: #5eaa2f;
$special-black: #111111;
$error: #ff8282;

